<div class="card">
  <div class="card-header">
    List your Property
  </div>
  <div class="card-body">
    <form (ngSubmit)='onSubmit()' #Form = "ngForm">
      <div>
        <tabset #formTabs>
          <tab heading="Basic title" id="tab1"><div class="form-group col-12">
            <label for="name">Name:</label>
            <input type="text" class="form-control" #propName="ngModel" ngModel name="Name" required minlength="5">
            <span *ngIf ="!propName.valid && propName.touched" class = "error-block">
             <span *ngIf="propName?.errors?.['required']">Please provide name</span>
             <span *ngIf="propName?.errors?.['minlength']">Name must be 5 character long</span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="type">Type:</label>
            <input type="text" class="form-control" ngModel name="Type">
          </div>

          <div class="form-group col-12">
            <label for="price">Price:</label>
            <input type="text" class="form-control" ngModel name="Price">
          </div>
          <br>

          <div class="form-group col-12">
              <button type="button" class="btn btn-primary col-12" (click)="selectTab(1)">Next</button>
          </div>
    </tab>
          <tab heading="Pricing and Area">
            <button type="button" class="btn btn-primary col-12" (click)="selectTab(2)">Next</button>
            <button type="button" class="btn btn-primary col-12 my-1" (click)="selectTab(0)">Back</button>
          </tab>
          <tab heading="Address">
            <button type="button" class="btn btn-primary col-12" (click)="selectTab(3)">Next</button>
            <button type="button" class="btn btn-primary col-12 my-1" (click)="selectTab(1)">Back</button>
          </tab>
          <tab heading="Other details">
            <button type="button" class="btn btn-primary col-12"(click)="selectTab(4)">Next</button>
            <button type="button" class="btn btn-primary col-12 my-1"(click)="selectTab(2)">Back</button>
          </tab>
          <tab heading="Upload Photos">
            <button type="button" class="btn btn-primary col-12"(click)="selectTab(3)">Back</button>
          </tab>
        </tabset>
      </div>
